.footer__column-link {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    color: #ffffff;
    transition: opacity .4s linear;
  }

  .footer__column-link:hover {
    opacity: .5;
  }