.feynman__title {
    display: flex;
    margin: auto;
    justify-content: center;
    padding-top: 100px;
    width: 648px;
    text-align: center;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bolder;
    position: relative;
    z-index: 1;
  }