.feynman__link {
    text-decoration: none;
    display: flex;
    position: absolute;
    right: 48px;
    top: 50%;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    color: #2f80ed;
    z-index: 1;
    transition: opacity .4s linear;
  }

  .feynman__link:hover {
    opacity: .5;
  }