.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #2f80ed;
  text-decoration: none;
  -webkit-transition: opacity .4s linear;
  -o-transition: opacity .4s linear;
  transition: opacity .4s linear;
}

.header__link:hover {
  opacity: .5;
}