.cards__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin: 43px auto 0;
    line-height: 1.15;
    font-size: 24px;
    font-weight: bolder;
}