/*div {
  border: 1px solid red;
}*/

/* задаем нулевые марджины для заголовков и параграфов */
.header__title, .header__subtitle, .two-columns__brief, .two-columns__paragraph, .section-title, .section-subtitle, .table__heading, .table__text, .feynman__title, .feynman__subtitle, .footer__author, .footer__column-heading {
  margin-top: 0;
  margin-bottom: 0;
}

/* сбрасываем стили у элементов списка */
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
}

.logo {
  width: 183px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  left: 64px;
  top:30px;
  z-index: 2;
}

.header__title {
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  display: flex;
  align-items: center;
  z-index: 2;
}

.header__subtitle{
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 2;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__link:hover {
  color: #000000;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
}

.description {
  padding-top: 100px;
}

.two-columns {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  display: flex;
  width: 80%;
  min-width: 784px;
  flex-direction: column;
}

.two-columns__paragraph {
  margin-bottom: 30px;
  margin-top: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: bolder;
}

.digits {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-title {
  display: flex;
  margin: auto auto 20px auto;
  justify-content: center;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bolder;
}

.section-subtitle {
  display: flex;
  margin: auto;
  justify-content: center;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: flex;
  width: 1100px;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
}

.table__heading {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.2;
  font-size: 24px;
  font-weight: bolder;
}

.table__text {
  margin-bottom: 0;
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;  
}

.feynman {
  min-height: 890px;
  background-color: #f2f2f2;
  position: relative;
}

.feynman__title {
  display: flex;
  margin: auto;
  justify-content: center;
  padding-top: 100px;
  width: 648px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bolder;
  position: relative;
  z-index: 1;
}

.feynman__subtitle {
  display: flex;
  margin: auto;
  padding-top: 70px;
  justify-content: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: relative;
  z-index: 1;
}

.feynman__link {
  text-decoration: none;
  display: flex;
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  z-index: 1;
}

.feynman__link:hover {
  color: #000000;
}

.feynman__portrait {
  background-image: url(../images/feynman.png);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 836px;
  height: 637px;
  background-position: center;
  background-size: cover;
  z-index: 0;
}

.kaufman {
  position: relative;
  overflow: hidden;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #1f1f1f;
}

.section-title_theme_dark {
  color: #ffffff;
}

.section-subtitle_theme_dark {
  color: #ffffff;
}

.table_theme_dark {
  display: flex;
  width: 1100px;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {
  position: relative;
  z-index: 1;
}

.table__text_theme_dark {
  position: relative;
  z-index: 1;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  position: absolute;
  background-position: center;
  background-size: cover;
  width: 877px;
  height: 877px;
  top: 0;
  right: -210px;
  z-index: 0;
}

.footer {
  display: flex;
  min-height: 350px;
  background-color: #1f1f1f;
} 

.footer__columns {
  display: flex;
  margin: 60px auto 40px auto;
  justify-content: space-between;
  width: 90%;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  margin-top: 18px;
  margin-bottom: 18px;
}

.footer__column-heading {
  display: flex;
  line-height: 30px;
  font-size: 18px;
  font-weight: bolder;
  color: #ffffff;
  margin: 0;
}

.footer__column-links {
  margin-top: 20px;
  margin-bottom: 16px;
}

.footer__column-link {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
}

.footer__column-link:hover {
  color: #2f80ed;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin: auto 10px auto 0;
}